---
import Default from "@astrojs/starlight/components/Footer.astro";
import { Icon } from "@astrojs/starlight/components";
---

<Default><slot /></Default>
<div>
  <p class="footer-item">
    Copyright © {new Date().getFullYear()} PaperMC and contributors. Built with <Icon name="starlight" class="icon" />
    <a href="https://starlight.astro.build/" target="_blank">Starlight</a>.
  </p>
  <p class="footer-item muted">
    该网站并非官方《我的世界》网站，也与 Mojang Studios 或 Microsoft 无关。
    所有产品和公司名称均为其各自所有者的商标或注册商标。
    使用这些名称并不意味着它们的任何关联或认可。
  </p>
</div>

<style>
  .footer-item {
    text-align: center;
    font-size: var(--sl-text-2xs);
    color: var(--sl-color-gray-2);
    margin-bottom: 0.25rem;
  }

  .footer-item a:not(:hover) {
    text-decoration: none;
  }

  .icon {
    color: var(--sl-color-orange);
  }

  .muted {
    color: var(--sl-color-gray-3);
  }
</style>
